<div class='gform_body'>
    <ul id='gform_fields_2' class='gform_fields top_label form_sublabel_below description_below'>
        <li id='field_2_16' class='gfield field_sublabel_below field_description_below gfield_visibility_visible'>
            <label class='gfield_label'>Card Type</label>
            <div class='ginput_container ginput_container_radio'>
                <ul class='gfield_radio' id='input_2_16'>
                    <li class='gchoice_2_16_0'>
                        <input name='input_16' type='radio' value='CashPass Premier Visa'
                                                      id='choice_2_16_0' tabindex='1'/>
                        <label for='choice_2_16_0' id='label_2_16_0'>CashPass Premier Visa</label></li>
                    <li class='gchoice_2_16_1'>
                        <input name='input_16' type='radio' value='CashPass Premier Percent Visa' id='choice_2_16_1' tabindex='2'/>
                        <label for='choice_2_16_1' id='label_2_16_1'>CashPassPremier Percent Visa</label>
                    </li>
                </ul>
            </div>
        </li>
        <li id='field_2_17' class='gfield gsection field_sublabel_below field_description_below gfield_visibility_visible'>
            <h2 class='gsection_title'>Personal Information</h2>
        </li>
        <li id='field_2_1' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_1'>First Name<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_text'>
                <input name='input_1' id='input_2_1' type='text' value='' class='large' tabindex='3' aria-required="true" aria-invalid="false"/>
            </div>
        </li>
        <li id='field_2_2' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_2'>Last Name<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_text'>
                <input name='input_2' id='input_2_2' type='text' value='' class='large' tabindex='4' aria-required="true" aria-invalid="false"/>
            </div>
        </li>
        <li id='field_2_3' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_3'>Date of Birth<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_date'>
                <input name='input_3' id='input_2_3' type='text' value='' class='datepicker medium mdy datepicker_no_icon' tabindex='5'/>
            </div>
            <input type='hidden' id='gforms_calendar_icon_input_2_3' class='gform_hidden' value='gravityforms/images/calendar.png'/>
        </li>
        <li id='field_2_14' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_14'>SSN:<span class='gfield_required'>*</span></label>
            <div class='gfield_description'>You social security is only used to verify your identity. We will not run a
                credit check.
            </div>
            <div class='ginput_container ginput_container_text'>
                <input name='input_14' id='input_2_14' type='text' value='' class='large' tabindex='6' aria-required="true" aria-invalid="false"/>
            </div>
        </li>
        <li id='field_2_15' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_15'>Re-Enter SSN:<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_text'>
                <input name='input_15' id='input_2_15' type='text' value='' class='large' tabindex='7' aria-required="true" aria-invalid="false"/>
            </div>
        </li>
        <li id='field_2_4' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_4'>Email Address:<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_email'>
                <input name='input_4' id='input_2_4' type='text' value='' class='large' tabindex='8'/>
            </div>
        </li>
        <li id='field_2_5' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_5'>Street Address<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_text'>
                <input name='input_5' id='input_2_5' type='text' value='' class='large' tabindex='9' aria-required="true" aria-invalid="false"/>
            </div>
        </li>
        <li id='field_2_6' class='gfield field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_6'>Apartment</label>
            <div class='ginput_container ginput_container_text'>
                <input name='input_6' id='input_2_6' type='text' value='' class='large' tabindex='10' aria-invalid="false"/>
            </div>
        </li>
        <li id='field_2_7' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_7'>City:<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_text'>
                <input name='input_7' id='input_2_7' type='text' value='' class='large' tabindex='11' aria-required="true" aria-invalid="false"/>
            </div>
        </li>
        <li id='field_2_8' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_8'>Zip Code:<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_text'>
                <input name='input_8' id='input_2_8' type='text' value='' class='large' tabindex='12' aria-required="true" aria-invalid="false"/>
            </div>
        </li>
        <li id='field_2_9' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_9'>Phone<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_phone'>
                <input name='input_9' id='input_2_9' type='text' value='' class='large' tabindex='13' aria-required="true" aria-invalid="false"/>
            </div>
        </li>
        <li id='field_2_10' class='gfield field_sublabel_below field_description_below gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_10'>ENTER YOUR REFERRAL ID</label>
            <div class='ginput_container ginput_container_text'>
                <input name='input_10' id='input_2_10' type='text' value='' class='medium' tabindex='14' aria-invalid="false"/>
            </div>
        </li>
        <li id='field_2_11' class='gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible'>
            <label class='gfield_label'>SEND TEXT ALERTS?<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_checkbox'>
                <ul class='gfield_checkbox' id='input_2_11'>
                    <li class='gchoice_2_11_1'>
                        <input name='input_11.1' type='checkbox' value='Send Text Alerts' id='choice_2_11_1'
                               tabindex='15'/>
                        <label for='choice_2_11_1' id='label_2_11_1'>Send Text Alerts</label>
                    </li>
                </ul>
            </div>
            <div class='gfield_description'>Text alerts send for each transaction and payment to the card with
                transaction information, amount, location and remaining blance. Standard text message rates may apply.
                Check with your carrier for more information.
            </div>
        </li>
        <li id='field_2_12'
            class='gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible'>
            <label class='gfield_label'>DISCLOSURE<span class='gfield_required'>*</span></label>
            <div class='ginput_container ginput_container_checkbox'>
                <ul class='gfield_checkbox' id='input_2_12'>
                    <li class='gchoice_2_12_1'>
                        <input name='input_12.1' type='checkbox'
                               value='I have read and understand that my identity will be verified when I click submit.'
                               id='choice_2_12_1' tabindex='16'/>
                        <label for='choice_2_12_1' id='label_2_12_1'>I have read and understand that my identity will be
                            verified when I click submit.
                        </label>
                    </li>
                    <li class='gchoice_2_12_2'>
                        <input name='input_12.2' type='checkbox'
                               value='I have read understand and agree to the &lt;a&gt;terms and conditions&lt;/a&gt;. CashPass sends transactional and promotional emails and text. I understand I may opt-out of promotional emails or text at any time in the future.'
                               id='choice_2_12_2' tabindex='17'/>
                        <label for='choice_2_12_2' id='label_2_12_2'>I have read understand and agree to the <a
                                target="_blank" href="http://www.cashpass.com/disclosures.php">terms and conditions</a>.
                            CashPass sends transactional and promotional emails and text. I understand I may opt-out of
                            promotional emails or text at any time in the future.</label>
                    </li>
                </ul>
            </div>
        </li>
        <li id='field_2_13' class='gfield field_sublabel_below field_description_below gfield_visibility_visible'>
            <label class='gfield_label' for='input_2_13'></label>
            <div id='input_2_13' class='ginput_container ginput_recaptcha' data-sitekey='6LeHPgsUAAAAAFXKW6dZZUzPvEhjdgSrH6BemXQN' data-theme='light'>

            </div>
        </li>
    </ul>
</div>