{% extends 'base.html.twig' %}
{% block page_header %}Orders {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Orders List </h3>
                    <div class="box-tools pull-right">
                        <form action="{{ path('orders') }}" method="GET">
                            <input name="search" type="text" placeholder="Search" />
                            <input type="submit" class="btn-sm btn-primary" value="Search"/>
                        </form>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    Total:  {{ pagination.getTotalItemCount }}
                    <table class="table table-hover">
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>Order ID</th>
                            <th>Customer</th>
                            <th>Status</th>
                            <th>Amount</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th width="150"></th>
                            {% endif %}
                        </tr>

                        {# table body #}
                        {% for order in pagination %}
                            <tr {% if loop.index is odd %}class="color"{% endif %}>
                                <td><a href="{{ path('order', {"id": order.reference}) }}">{{ order.reference }}</a></td>
                                <td>{{ order.firstname }} {{ order.lastname }}</td>
                                <td>
                                    {% set class = "" %}
                                    {% if order.current_state == 2 %}
                                        {% set class = "label-success" %}
                                    {% elseif order.current_state == 4 %}
                                        {% set class = "label-warning" %}
                                    {% else %}
                                        {% set class = "label-danger" %}
                                    {% endif %}
                                    <span class="label {{ class }}">{{ order.name }}</span>
                                </td>
                                <td>
                                    ${{ order.total_paid_tax_incl|number_format(2, '.', ',') }}
                                </td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>

                                        <a href="{{ path('run_send_sale',{'id': order.id_order}) }}" class="btn-sm btn-primary">Re-run Send Sale</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->

        </div>

    </div>
{% endblock %}
{% block stylesheets %}

{% endblock %}