{% extends 'base.html.twig' %}
{% block page_header %}Order {% endblock %}
{% block body %}
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> PawnAmerica -  {{ order.carrierName }}
                    <small class="pull-right">Date: {{ order.orderDate|date('m/d/Y') }}</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Billing Address
                <address>
                    <strong>{{ billing.firstname }} {{ billing.lastname }}</strong><br>
                    {{ billing.address1 }}<br>
                    {{ billing.city }}, {{ billing.iso_code }} {{ billing.postcode }}<br>
                    Phone: {{ billing.phone_mobile }}<br>
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                Ship To
                <address>
                    <strong>{{ shipping.firstname }} {{ shipping.lastname }}</strong><br>
                    {{ shipping.address1 }}<br>
                    {{ shipping.city }}, {{ shipping.iso_code }} {{ shipping.postcode }}<br>
                    Phone: {{ shipping.phone_mobile }}<br>
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Order {{ order.reference }}</b><br>
                <br>
                <b>Order ID:</b> {{ order.id_order }}<br>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Store</th>
                        <th>Product</th>
                        <th>Product Reference</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for storeId in products %}
                        {% for product in storeId %}
                            <tr>
                                <td>{{ product.supplierName }}</td>
                                <td>{{ product.product_name }}</td>
                                <td>{{ product.product_reference }}</td>
                                <td>{{ product.unit_price_tax_excl }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <!-- accepted payments column -->

            <div class="col-xs-6">
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                <h3>ORDER FULLFILLMENT PROCESS</h3>
                <ol>
                    <li>Use this Link or Login to back office of pawnamerica.com to update your order status.
                        https://www.pawnamerica.com/pawn-admin9437
                        (only used to update order status)
                    </li>
                    <li>Use this Link of Login to Ship Station to Print the shipping label associated with this order
                        https://ss4.shipstation.com/
                        (Only use for printing shipping label)</li>
                    <li>Use the Attachment as the Packing Slip for your order.
                        <ul>
                            <li>Make sure to Include designated marketing materials within the shipment.</li>
                        </ul>
                    </li>
                </ol>
                </p>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <p class="lead">Amount Due 2/22/2014</p>

                <div class="table-responsive">
                    <table class="table">
                        <tbody><tr>
                            <th style="width:50%">Subtotal:</th>
                            <td>${{ order.total_products|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <th>Tax</th>
                            <td>${{ order.total_paid_tax_incl - order.total_paid_tax_excl }}</td>
                        </tr>
                        <tr>
                            <th>Shipping:</th>
                            <td>${{ order.total_shipping_tax_incl|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>${{ order.total_paid|number_format(2, '.', ',') }}</td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
{% block stylesheets %}

{% endblock %}