{% extends 'base.html.twig' %}
{% block page_header %}Dashboard {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ newOrders }}</h3>

                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ infoNeeded }}</h3>

                    <p>Ebay Needs Info</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{{ path('info_needed') }}" class="small-box-footer">More info <i
                            class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ activation|length }}</h3>

                    <p>New Product activations</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="{{ path('product_activation') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ ebay|length }}</h3>

                    <p>New Ebay Activations</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{{ path('product_on_ebay') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-md-8">

            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Latest Orders</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Customer</th>
                                <th>Status</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if orders is empty %}
                                <tr>
                                    <td colspan="4">No Orders found.<i class="fa fa-fw fa-thumbs-down"></i></td>
                                </tr>
                            {% endif %}
                            {% for order in orders %}
                                <tr>
                                    <td><a href="{{ path('order', {"id": order.reference}) }}">{{ order.reference }}</a>
                                    </td>
                                    <td>{{ order.firstname }} {{ order.lastname }}</td>
                                    <td>
                                        {% set class = "" %}
                                        {% if order.current_state == 2 %}
                                            {% set class = "label-success" %}
                                        {% elseif order.current_state == 4 %}
                                            {% set class = "label-warning" %}
                                        {% else %}
                                            {% set class = "label-danger" %}
                                        {% endif %}
                                        <span class="label {{ class }}">{{ order.name }}</span>
                                    </td>
                                    <td>
                                        <div class="sparkbar" data-color="#00a65a" data-height="20">
                                            ${{ order.total_paid_tax_incl|number_format(2, '.', ',') }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="{{ path('orders') }}" class="btn btn-sm btn-default btn-flat pull-right">View All
                        Orders</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-4">
            <!-- PRODUCT LIST -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Recently Updated Products</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="products-list product-list-in-box">
                        {% for product in lastEdited %}
                            <li class="item">
                                <div class="product-img">
                                    <img src="{{ product['image'] }}" alt="Product Image">
                                </div>
                                <div class="product-info">
                                    <a href="{{ path('product_edit',{"id_product":product['id_product'] }) }}" class="product-title">{{ product['name'] }}
                                        <span class="label label-warning pull-right">{{ product['price'] }}</span>
                                    </a>
                                    <span class="product-description">
                                  {{ product['desc']|raw }}
                                </span>
                                </div>
                            </li>
                        {% endfor %}

                        <!-- /.item -->
                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="{{ path('product_edited_list') }}" class="uppercase">View All EditedProducts</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
