{% extends 'base.html.twig' %}
{% block page_header %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Active Bugs </h3>
                    <div class="box-tools pull-right">
                        {{ form_start(form, { 'action': path('bugs_list'),'attr' : { 'class': 'form-inline pull-right' } }) }}
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            {{ form_widget(form.search) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {{ form_end(form) }}
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="60">Id</th>
                                <th width="100">Reported By</th>
                                <th width="100">Date Reported</th>
                                <th>Description</th>
                                <th width="100"></th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for bug in bugs %}
                            <tr>
                                <td>{{ bug.id }}</td>
                                <td>{{ bug.user.email }}</td>
                                <td>{{ bug.created|date('Y-m-d') }}</td>
                                <td>{{ bug.bug }}</td>
                                <td><a href="{{ path('view_bug',{"id":bug.id }) }}" class="btn-sm btn-primary">view</a> </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->

        </div>

    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}