{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Bug - {{ bug.id }} </h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    {{ bug.bug }}
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->

        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Messages</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table  class="table table-hover">
                        <thead>
                            <th width="140">User</th>
                            <th width="100">Date</th>
                            <th>Message</th>
                        </thead>
                        <tbody>
                            {% for message in bug.messages %}
                                <tr>
                                    <td>{{ message.user.email }}</td>
                                    <td>{{ message.created|date('Y-m-d') }}</td>
                                    <td>{{ message.message }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->

        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Add a message</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    {{ form_start(form, {'action': path('view_bug', {'id': bug.id}), 'method': 'POST'}) }}
                    {{ form_widget(form) }}
                    <br />
                    <button type="submit" class="btn btn-primary">Add Message</button>
                    {{ form_end(form) }}
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->

        </div>

    </div>
{% endblock %}

{% block page_header %}

{% endblock %}

