{% extends 'base.html.twig' %}
{% block page_header %}Edited Products List{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Product List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Pic</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th></th>
                        </tr>

                        {# table body #}
                        {% for product in products %}
                            <tr {% if loop.index is odd %}class="color"{% endif %}>
                                <td><img src="{{ product['image'] }}" alt="Product Image"></td>
                                <td>{{ product['name'] }}</td>
                                <td>{{ product['desc']|raw }}</td>
                                <td>{{ product['price'] }}</td>
                                <td><a href="{{ path('product_edit', {"id_product":product['id_product'] }) }}" class="btn-sm btn-primary">Edit</a> </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
