{% extends 'base.html.twig' %}
{% block page_header %}Editing Product: {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {% if success is not empty %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    {{ success }}
                </div>
            {% endif %}
            {% if error is not empty %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">

                            <h5 class="description-header">{{ product.reference }}</h5>
                            <span class="description-text">REFERENCE</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <h5 class="description-header">{{ product.quantity }}</h5>
                            <span class="description-text">QTY</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <h5 class="description-header">${{ product.price|number_format(2) }}</h5>
                            <span class="description-text">{{ product.taxName }}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block">
                            <h5 class="description-header">
                                {% if product.active == 1 %}
                                    <span class="label label-success">Active</span>
                                {% else %}
                                    <span class="label label-danger">Disabled</span>
                                {% endif %}
                            </h5>
                            <span class="description-text">STATUS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Upload Files</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <form action="{{ path('product_upload',{id: product.id_product  }) }}" class="dropzone" id="imagesss"></form>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    The page will auto refresh when it's done uploading pictures. Make sure you don't have unsaved changes in the form below.
                </div><!-- box-footer -->
            </div><!-- /.box -->

        </div>
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Current Images</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <ul class="users-list clearfix">
                        {% for key,image in images %}
                            <li>
                                {% set style = '' %}
                                {% set cover = 0 %}
                                {% if image['cover'] == 1 %}
                                    {% set cover = 1 %}
                                    {% set style = 'border:5px solid #021a40;' %}
                                {% endif %}
                                <img style="border-radius: 0;{{ style }}" src="{{ image['path'] }}" />
                                <p style="clear: both;">
                                    <input type="checkbox" name="image[]" id="{{ key }}"/>
                                    <input  style="width: 25px;" value="{{ image['position'] }}" data-cover="{{ cover }}" data-image="{{ key }}" type="text" name="position[]" class="image-order" />
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button class="js-cover-image btn-sm btn-primary pull-left">Make Cover image</button>
                    <button class="js-image-order btn-sm btn-primary pull-left">Save Image Order</button>
                    <button class="js-delete-image btn-sm btn-danger pull-right">Delete Selected Images</button>
                </div><!-- box-footer -->
            </div><!-- /.box -->

        </div>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Title</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}
                    </div>

                    <div class="col-xs-6">
                        {{ form_label(form.brand) }}
                        {{ form_widget(form.brand) }}
                        {{ form_errors(form.brand) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_label(form.status) }}
                        {{ form_widget(form.status) }}
                        {{ form_errors(form.status) }}
                    </div>

                    <div class="col-xs-6">
                        {{ form_label(form.mpn) }}
                        {{ form_widget(form.mpn) }}
                        {{ form_errors(form.mpn) }}
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    {% if product.active == 1 %}
                        <a class="btn btn-default" target="_blank" href="http://www.pawnamerica.com/search?controller=search&s={{ product.reference }}">Preview</a>
                    {% endif %}
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div>
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Shipping</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div class="col-xs-12">
                        {{ form_label(form.carrier) }}
                        {{ form_widget(form.carrier) }}
                        {{ form_errors(form.carrier) }}
                        <br />
                        {{ form_label(form.carrier2) }}
                        {{ form_widget(form.carrier2) }}
                        {{ form_errors(form.carrier2) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_label(form.width) }}
                        {{ form_widget(form.width) }}
                        {{ form_errors(form.width) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_label(form.height) }}
                        {{ form_widget(form.height) }}
                        {{ form_errors(form.height) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_label(form.depth) }}
                        {{ form_widget(form.depth) }}
                        {{ form_errors(form.depth) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_label(form.weight) }}
                        {{ form_widget(form.weight) }}
                        {{ form_errors(form.weight) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_label(form.addToEbay) }}
                        {{ form_widget(form.addToEbay) }}
                        {{ form_errors(form.addToEbay) }}
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div>

    </div>
    {% if pim %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">PIM Data found.</h3>
                        <div class="box-tools pull-right">
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <a href="javascript:void(0);" class="btn btn-primary pim-data">Use Pim Info</a>
                        <div style="display: none" id="desc">
                            {{ pim.Description|raw }}
                        </div>
                        <div style="display: none" id="summary">
                            {{ pim.Sumary|raw }}
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">

                    </div><!-- box-footer -->
                </div><!-- /.box -->
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Description</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    {{ form_label(form.longDescription) }}
                    {{ form_widget(form.longDescription) }}
                    {{ form_errors(form.longDescription) }}
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Short Description</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    {{ form_label(form.shortDescription) }}
                    {{ form_widget(form.shortDescription) }}
                    {{ form_errors(form.shortDescription) }}
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Ebay Department messages</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="message-table" class="table no-margin">
                        <thead>
                            <tr>
                                <th width="200">Employee</th>
                                <th>Message</th>
                                <th width="100">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if messages is empty %}
                                <tr id="no-message">
                                    <td colspan="3">No Messages found.</td>
                                </tr>
                            {% endif %}
                            {% for message in messages %}
                                <tr>
                                    <td>{{ message.email }}</td>
                                    <td>{{ message.message }}</td>
                                    <td>{{ message.created|date("m/d/Y g:ia") }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="input-group">
                        <input class="form-control js-ebay-message" placeholder="Type message...">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success js-ebay-message-button"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        {% if is_granted('ROLE_EBAY') %}
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">FastBay</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    {{ form_label(form.fastBayPrice) }}
                    {{ form_widget(form.fastBayPrice) }}
                    {{ form_errors(form.fastBayPrice) }}

                    {{ form_label(form.fastBaySync) }}
                    {{ form_widget(form.fastBaySync) }}
                    {{ form_errors(form.fastBaySync) }}

                    {{ form_label(form.fastBayEbaycarrier1) }}
                    {{ form_widget(form.fastBayEbaycarrier1) }}
                    {{ form_errors(form.fastBayEbaycarrier1) }}

                    {{ form_label(form.fastBayCostospedizione1) }}
                    {{ form_widget(form.fastBayCostospedizione1) }}
                    {{ form_errors(form.fastBayCostospedizione1) }}

                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div>
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">FastBay</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    {% if fastbay['id_product_ref'] is defined %}
                        <label for="ebay-reference">Ebay ID</label>
                        <input class="form-control" name="ebay-reference" type="text" readonly value="{{ fastbay.id_product_ref }}" />
                        <a href="http://www.ebay.com/itm/{{ fastbay.id_product_ref }}" target="_blank" class="btn-sm btn-primary">Ebay</a>
                    {% endif %}

                    {{ form_label(form.fastBayTitle) }}
                    {{ form_widget(form.fastBayTitle) }}
                    {{ form_errors(form.fastBayTitle) }}

                    {{ form_label(form.fastBayDescription) }}
                    {{ form_widget(form.fastBayDescription) }}
                    {{ form_errors(form.fastBayDescription) }}


                </div><!-- /.box-body -->

            </div><!-- /.box -->
        </div>
        {% endif %}
        <div class="col-xs-4">
            <div class="box">
                <style>
                    ul li ul {
                        display: none;
                    }

                    ul li:hover ul {
                        display: block;
                    }
                </style>
                <div class="box-header with-border">
                    <h3 class="box-title">Categories</h3>
                    <div class="box-tools pull-right">
                        Default
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div class="box-group" id="accordion">
                        {% set cnt = 1 %}
                    {% for key,cat in categories %}
                        {% set select = "" %}
                        {% if cat['id_category'] in currentCats %}
                            {% set select = "checked" %}
                        {% endif %}
                        <div class="panel box box-primary">
                            <div class="box-header with-border">
                                <span class="pull-left"><input {{ select }} value="{{ cat['id_category'] }}" class="cats" type="checkbox" name="ignore" />&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <h4 class="box-title" style="text-align: center">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ cnt }}" aria-expanded="false" class="collapsed">
                                        {{  cat['name'] }}
                                    </a>
                                </h4>
                                <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                                    <input{% if cat['id_category'] == defaultCat %} checked {% endif %} class="default" type="radio" name="default" value="{{ cat['id_category'] }}" />
                                </div>
                            </div>

                            <div id="collapse{{  cnt }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="box-body no-padding">
                                    <table class="table table-condensed">
                                        <tbody>
                                        {% set catChildren = '' %}
                                        {% for v in cat %}
                                            {% if v is iterable %}
                                                {% set catChildren = v %}
                                            {% endif %}
                                        {% endfor %}

                                        {% for child in catChildren %}
                                            {% set catSubChildren = '' %}
                                            {# check to see if there are sub cats#}
                                            {% for subchildren in child %}
                                                {% if subchildren is iterable %}
                                                    {% set catSubChildren = subchildren %}
                                                {% endif %}
                                            {% endfor %}
                                            {% set childselect = "" %}
                                            {% if child.id_category in currentCats %}
                                                {% set childselect = "checked" %}
                                            {% endif %}
                                            {% if catSubChildren %}
                                                <tr>
                                                    <td><span class="pull-left"><input {{ childselect }} value="{{ child['id_category'] }}" class="cats" type="checkbox" name="ignore" /></span></td>
                                                    <td><a href="javascript:void(0);" onclick="showsub('{{ child['name']|replace({' ':''}) }}')">+ {{ child['name'] }}</a></td>
                                                    <td><span class="pull-right"><input {% if child.id_category == defaultCat %} checked {% endif %} class="default" type="radio" name="default" value="{{ child['id_category'] }}" /> </span></td>
                                                </tr>
                                                <tr class="{{ child['name']|replace({' ':''}) }}" style="display: none;">
                                                    <td colspan="3">
                                                        {% include 'includes/children.html.twig' with {'cats': catSubChildren, 'class' : child['name'], 'currentCats': currentCats, 'defaultCat': defaultCat } %}
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td><span class="pull-left"><input {{ childselect }} value="{{ child['id_category'] }}" class="cats" type="checkbox" name="ignore" /></span></td>
                                                    <td>{{ child['name'] }}</td>
                                                    <td><span class="pull-right"><input {% if child.id_category == defaultCat %} checked {% endif %} class="default" type="radio" name="default" value="{{ child['id_category'] }}" /> </span></td>
                                                </tr>
                                            {% endif %}

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% set cnt = cnt + 1 %}
                    {% endfor %}
                    </div>
                    <div class="box-group" id="accordion">
                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->

                    </div>
                </div><!-- /.box-body -->

            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">

                    {{ form_widget(form.idProduct) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-primary" />
                    {{ form_end(form) }}
                    {{ form_end(form) }}
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
<script language="JavaScript">


    function showsub(cat) {
        $( "." + cat ).toggle();
    }

    $(document).on('click', '.js-refresh', function () {
        location.reload();
    });

    $(document).on('click', '.js-image-order', function () {
        var names = [];
        $(".image-order").each(function() {
            names.push($(this).val()+'-'+$(this).data('image')+"-"+$(this).data('cover'));

        });
        console.log(names);

        $.ajax({
            method: "POST",
            url: "{{ path('image_order') }}",
            data: { image: names, product: {{ product.id_product }} }
        })
        .done(function( msg ) {
            location.reload();
        });

    });

    $(document).on('click', '.default', function () {

        var selectedOption = $("input:radio[name=default]:checked").val()

        //app_bundle_product_form[catDefault]

        document.getElementById("app_bundle_product_form_catDefault").value = selectedOption

    });

    $(document).on('click', '.cats', function () {
        var cats = [];
        $("input:checkbox[name=ignore]:checked").each(function(){
            cats.push($(this).val());
        });

        $.ajax({
            method: "POST",
            url: "{{ path('product_cats') }}",
            data: { cats: cats, product: {{ product.id_product }} }
        })
        .done(function( msg ) {
            //location.reload(true);
        });

    });

    $(document).on('click', '.js-delete-image', function () {
        var names = [];
        $('input:checked').each(function() {
            if (isInt(this.id)) {
                names.push(this.id);
            }
        });

        $.ajax({
            method: "POST",
            url: "{{ path('image_delete') }}",
            data: { image: names, product: {{ product.id_product }} }
        })
        .done(function( msg ) {
            location.reload(true);
        });

    });
    $(document).on('click', '.js-cover-image', function () {
        var names = [];
        $('input:checked').each(function() {
            if (isInt(this.id))
            {
                names.push(this.id);
            }
        });

        console.log(names);
        if(names.length > 2)
        {
            alert("you can only select 1 for cover image.");
            return;
        }
        $.ajax({
            method: "POST",
            url: "{{ path('image_cover') }}",
            data: { image: names, product: {{ product.id_product }} }
        })
        .done(function( msg ) {
            location.reload();
        });

    });
    function isInt(value) {
      return !isNaN(value) && (function(x) { return (x | 0) === x; })(parseFloat(value))
    }
    $(document).on('click', '.js-ebay-message-button', function () {
        var message = $('.js-ebay-message').val();
        var user = '{{ user.email }}';
        $.ajax({
            method: "POST",
            url: "{{ path('add_ebay_message') }}",
            data: { message: message, product: {{ product.id_product }} }
        })
        .done(function( msg ) {
            $('#no-message').remove();
            var dNow = new Date();
            var localdate= (dNow.getMonth()+1) + '/' + dNow.getDate() + '/' + dNow.getFullYear() + ' ' + dNow.getHours() + ':' + dNow.getMinutes();
            $('#message-table tr:last').after('<tr><td>' + user +'</td><td>' + message +'</td><td>'+localdate+'</td></tr>');
        });

    });
    //var editor = CKEDITOR.instances['app_bundle_product_form[longDescription]'];
    //editor.setData('your data');
    $(document).on('click', '.pim-data', function () {
        //var data = CKEDITOR.instances.app_bundle_product_form_longDescription.getData();
        var description = $('#desc').html();
        var summary = $('#summary').html();
        CKEDITOR.instances.app_bundle_product_form_longDescription.setData(''+description+'');

        CKEDITOR.instances.app_bundle_product_form_shortDescription.setData(''+summary+'');
        {#description{{ pim.sumary }}#}
        //console.log(data)
    });

    //CKEDITOR.instances['app_bundle_product_form_longDescription'].setData('akljsdkasdfajssjadk');
    // Dropzone.options.imagesss = {
    //     parallelUploads: 20,
    //     maxFiles: 20,
    //     uploadMultiple: true,
    //     init: function () {
    //         // Set up any event handlers
    //         this.on('success', function () {
    //             location.reload();
    //         });
    //     }
    // };
</script>
{% endblock %}
