{% extends 'base.html.twig' %}
{% block page_header %}Products List{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Product List</h3>
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ form_start(form, { 'action': path('product_list'),'attr' : { 'class': 'form-inline pull-right' } }) }}
                        <label class="sr-only" for="inlineFormInput">Store</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            {{ form_widget(form.active) }}
                        </div>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            {{ form_widget(form.store) }}
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        {{ form_end(form) }}
                    {% endif %}
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Store Date</th>
                            <th>Ebay Date</th>
                            <th></th>
                        </tr>

                        {# table body #}
                        {% for product in products %}
                            <tr {% if loop.index is odd %}class="color"{% endif %}>
                                <td>{{ product.id_product }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.store }}</td>
                                <td>
                                    {% if product.active == 1 %}
                                        <span class="label label-success">Active</span>
                                    {% else %}
                                        <span class="label label-danger">Disable</span>
                                    {% endif %}
                                </td>
                                <td>{{ product.store_date }}</td>
                                <td>{{ product.ebay_date }}</td>
                                <td><a href="{{ path('product_edit', {"id_product":product.id_product }) }}" class="btn-sm btn-primary">Edit</a> </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <ul class="pagination">
                        <li><a href='{{ path("product_list", { "page": 1, "store": store }) }}'>First Page</a></li>
                        {% for i in pages %}
                            {% if i != 0 %}
                                <li {% if page == i %}class="active"{% endif %}><a href='{{ path("product_list", { "page": i, "store": store, 'active': active }) }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li><a href='{{ path("product_list", { "page": totalPages, "store": store, 'active': active }) }}'>Last Page</a></li>
                    </ul>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
