{% extends 'base.html.twig' %}
{% block page_header %}Register a User: {% endblock %}
{% block body %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Register!</h3>
            <div class="box-tools pull-right">
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            {{ form_start(form) }}

            {{ form_row(form.email) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.store) }}
            {{ form_row(form.plainPassword.first, {
                label: 'Password'
            }) }}

            {{ form_row(form.plainPassword.second, {
                label: 'Repeat Password'
            }) }}

        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-primary" formnovalidate>Register</button>
            {{ form_end(form) }}
        </div><!-- box-footer -->
    </div><!-- /.box -->

{% endblock %}