{% extends 'base.html.twig' %}
{% block page_header %}User List: {% endblock %}
{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Users</h3>
            <div class="box-tools pull-right">
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th >User</th>
                        <th>Email</th>
                        <th >Store</th>
                        <th style="width: 70px"></th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>
                                {% for role in user.roles %}
                                   {{ role }},
                                {% endfor %}
                            </td>
                            <td>{{ user.store }}</td>
                            <td>
                                <a href="{{ path('edit_user',{ "id": user.id }) }}" class="btn-sm btn-primary">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- /.box-body -->
        <div class="box-footer">
        </div><!-- box-footer -->
    </div><!-- /.box -->
{% endblock %}