{% extends 'base.html.twig' %}
{% block page_header %}Marked Ready to Sync: {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Results</h3>
                    <div class="box-tools pull-right">
                        {{ form_start(form, { 'attr' : { 'class': 'form-inline pull-right' } }) }}
                        <label class="sr-only" for="inlineFormInput">Add to ebay</label>

                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            {{ form_widget(form.addToEbay) }}
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        {{ form_end(form) }}

                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Qty</th>
                            <th>Status</th>
                            <th>Store Date</th>
                            <th>Ebay Date</th>
                            <th width="120"></th>
                        </tr>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id_product }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.store }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>
                                    {% if product.active == 1 %}
                                        <span class="label label-success">Active</span>
                                    {% else %}
                                        <span class="label label-danger">Disable</span>
                                    {% endif %}
                                </td>
                                <td>{{ product.store_date }}</td>
                                <td>{{ product.ebay_date }}</td>
                                <td>
                                    <a href="{{ path('product_edit', {"id_product":product.id_product }) }}" class="btn-sm btn-primary">Edit</a>

                                    {% if product.id_product_ref %}
                                        <a href="http://www.ebay.com/itm/{{ product.id_product_ref }}" target="_blank" class="btn-sm btn-primary">Ebay</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}