{% extends "::email.html.twig" %}

{% block body %}
    <h1>Daily summary</h1><br>
    <table style="width:100%;font-family:Verdana,sans-serif;font-size:11px;color:#374953">
        <tbody>
            <tr style="background-color:#b9babe;text-align:center">
                <th style="padding:.6em 0">Store</th>
                <th style="padding:.6em 0">PawnAmerica Sales</th>
                <th style="padding:.6em 0">Ebay Sales</th>
                <th style="">Total Sales</th>
                <th>ALL Active Items</th>
                <th>Active Ebay Items</th>
                <th>New Pulls</th>
                <th style="padding:.6em 0">New Activation</th>
                <th>Retail Value Listings Activated</th>
                <th style="padding:.6em 0">Listings Sent to ECOM</th>
                <th>Ebay Listings Activated</th>
                <!--<th style="width:30%;padding:.6em 0">Updated Products</th>-->
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>
            {% set totalPaid = 0 %}
            {% set totalebay = 0 %}
            {% set totalactive = 0 %}
            {% set totalActiveEbay = 0 %}
            {% set totalUpdatedProducts = 0 %}
            {% set totalPaidEbay = 0 %}
            {% set totalAllActive = 0 %}
            {% set newPulss = 0 %}
            {% set totalSales = 0 %}
            {% set newActivations = 0 %}
            {% set retailActivationsCost = 0 %}
            {% set sentEbay = 0 %}
            {% set ebayActivated = 0 %}
            {% set activeEbay = 0 %}
            {% for store in data %}
                <tr style="background-color:#ebecee">
                    <td style="padding:0.6em 0.4em;width:15%">{{ store.name }}</td>
                    <td style="padding:0.6em 0.4em;width:15%">{{ store.website }}</td>
                    <td style="padding:0.6em 0.4em;width:10%">{{ store.ebay }}</td>
                    <td style="padding:0.6em 0.4em;width:10%"> {{ store.ebay + store.website }}</td>
                    <td style="padding:0.6em 0.4em;width:10%">{{ store.activeItems + store.activeEbayItems }}</td>
                    <td style="padding:0.6em 0.4em;width:20%">{{ store.activeEbayItems }}</td>
                    <td>{{ store.newPulls }}</td>
                    <td style="padding:0.6em 0.4em;width:15%">{{ store.dailyActivated }}</td>
                    <td>{{ store.dailyActivatedCost }}</td>
                    <td style="padding:0.6em 0.4em;width:15%">{{ store.sentToEbay }}</td>
                    <td>{{ store.dailyActivatedEbay }}</td>
                    <!--<td style="padding:0.6em 0.4em;width:15%">{{ store.updatedProducts  }}</td>-->
                </tr>
                {% set totalPaid = totalPaid + store.website %}
                {% set totalebay = totalebay + store.ebay %}
                {% set totalactive = totalactive + store.activeItems %}

                {% set totalUpdatedProducts = totalUpdatedProducts + store.updatedProducts %}
                {# need below to be added to the totals at the bottom #}
                {% set activeEbay = activeEbay + store.activeEbayItems %}
                {% set totalSales = totalSales + store.ebay + store.website %}
                {% set totalPaidEbay = totalPaidEbay + store.ebay + store.website %}
                {% set totalAllActive =  totalAllActive + store.activeItems + store.activeEbayItems %}
                {% set totalActiveEbay = totalActiveEbay + store.activeEbayItems %}
                {% set newPulss = newPulss + store.newPulls %}
                {% set newActivations = newActivations + store.dailyActivated %}
                {% set retailActivationsCost = retailActivationsCost + store.dailyActivatedCost %}
                {% set sentEbay = sentEbay + store.sentToEbay %}
                {% set ebayActivated = ebayActivated + store.dailyActivatedEbay %}
            {% endfor %}
            <tr>
                <td colspan="8"></td>
            </tr>
            <tr style="text-align:right;font-weight:bold">
                <td>Totals</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">{{ totalPaid|number_format(2, '.', ',') }}</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">{{ totalebay|number_format(2, '.', ',') }}</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">{{ totalSales|number_format(2, '.', ',') }}</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">{{ totalAllActive }}</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">{{ activeEbay }}</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">{{ newPulss }}</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">{{ newActivations }}</td>

                <td style="background-color:#f1aecf;padding:.6em .4em">{{ retailActivationsCost }}</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">{{ sentEbay }}</td>

                <td style="background-color:#f1aecf;padding:.6em .4em">{{ ebayActivated }}</td>
                <!--<td style="background-color:#f1aecf;padding:.6em .4em">{{ totalUpdatedProducts }}</td>-->
            </tr>

        </tbody>
    </table>
{% endblock %}