<table  class="table table-condensed">
    <tbody>
    {% for child in catSubChildren %}
    {% set childselect = "" %}
    {% if child.id_category in currentCats %}
        {% set childselect = "checked" %}
    {% endif %}
    <tr>
        <td><span class="pull-left"><input {{ childselect }} value="{{ child['id_category'] }}" class="cats" type="checkbox" name="ignore" /></span></td>
        <td>{{ child['name'] }}</td>
        <td><span class="pull-right"><input {% if child.id_category == defaultCat %} checked {% endif %} class="default" type="radio" name="default" value="{{ child['id_category'] }}" /> </span></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
