{% extends 'base.html.twig' %}
{% block page_header %} {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Messages </h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th width="200">Title</th>
                            <th>Message</th>
                            <th width="100"></th>
                        </tr>
                        {% for msg in messages %}
                            <tr>
                                <td>{{ msg.title }}</td>
                                <td>{{ msg.message|raw }}</td>
                                <td><a href="{{ path('read-message', {id: msg.id}) }}" class="btn btn-sm btn-primary">Mark Read</a> </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->

        </div>

    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}