{% extends "::base.html.twig" %}

{% block body %}
    <img src="http://www.pawnamerica.com/img/ps-test-logo-1466998481.jpg" width="300">
    <table style="width:50%;font-family:Verdana,sans-serif;font-size:11px;color:#374953">
        <tbody>
        <tr>
            <td colspan="1">Delivery Address</td>

        </tr>
        <tr>

            <td colspan="">
                {{ shippingAddress.firstname }}, {{ shippingAddress.lastname }}<br />
                {{ shippingAddress.address1 }}<br />
                {% if shippingAddress.address2 != '' %}
                    {{ shippingAddress.address2 }}<br />
                {% endif %}
                {{ shippingAddress.city }}, {{ shippingAddress.iso_code }} {{ shippingAddress.postcode }} <br />

            </td>
        </tr>
        </tbody>
    </table>
    <br />
    <b>Customer Message:</b>
    <p>
        {% for message in messages %}
            {{ message.message }}
        {% endfor %}
    </p>
    <table>
        <tbody>
        <tr>
            <td>Payment Type:</td>
            <td>{{ order.payment }}</td>
        </tr>
        </tbody>
    </table>
    <table style="width:100%;font-family:Verdana,sans-serif;font-size:11px;color:#374953">
        <tbody>
        <tr style="background-color:#b9babe;text-align:center">
            <th style="width:15%;padding:.6em 0">Order #</th>
            <th style="width:10%;padding:.6em 0">Reference</th>
            <th style="width:20%;padding:.6em 0">Store</th>
            <th style="width:30%;padding:.6em 0">Product</th>
            <th style="width:30%;padding:.6em 0">Shipping</th>
            <th style="width:45%;padding:.6em 0">Item Price</th>
            <th style="width:45%;padding:.6em 0">Shipping Cost</th>
            <th style="width:20%;padding:.6em 0">tax</th>
            <th style="width:20%;padding:.6em 0">Paid</th>
        </tr>
        <tr>
            <td colspan="6"></td>
        </tr>
        {% set totalPaid = 0 %}
        {% set totalTax = 0 %}
        {% set totalShipping = 0 %}
        {% set itemPrice = 0 %}
        {% set ShippingTax = 0 %}
        {% for product in products%}
            <tr style="{% if store == product.id_supplier %}background-color:#ebecee{% endif %}">
                <td style="padding:0.6em 0.4em;width:15%">{{ order.reference }}</td>
                <td style="padding:0.6em 0.4em;width:10%">{{ product.product_reference }}</td>
                <td style="padding:0.6em 0.4em;width:15%">{{ product.supplierName  }}</td>
                <td style="padding:0.6em 0.4em;width:30%"><strong>{{ product.product_name }}</strong></td>
                <td style="padding:0.6em 0.4em;width:20%">{{ order.carrierName }}</td>
                <td style="padding:0.6em 0.4em;width:20%">{{ product.unit_price_tax_excl|number_format(2, '.', ',') }}</td>
                <td style="padding:0.6em 0.4em;width:45%">{{ product.shipping|number_format(2, '.', ',') }}</td>
                <td style="padding:0.6em 0.4em;width:20%">
                    {{ product.itemTax|number_format(2, '.', ',') }}
                </td>
                <td style="padding:0.6em 0.4em;width:20%">
                    {% set itemTotal = product.unit_price_tax_excl + product.shipping + product.itemTax %}
                    {{ itemTotal|number_format(2, '.', ',') }}
                </td>
            </tr>
            {% set itemPrice = itemPrice + product.unit_price_tax_excl %}
            {% set totalPaid = totalPaid + itemTotal %}
            {% set totalTax = totalTax + product.itemTax %}
            {% set ShippingTax = product.shippingTax %}
            {% set totalShipping =  product.shipping|number_format(2, '.', ',') %}
        {% endfor %}
        <tr>
            <td colspan="8"></td>
        </tr>
        <tr style="text-align:right;font-weight:bold">
            <td style="background-color:#f1aecf;padding:.6em .4em" colspan="5">Total paid</td>
            <td style="background-color:#f1aecf;padding:.6em .4em">{{ itemPrice|number_format(2, '.', ',') }}</td>
            <td style="background-color:#f1aecf;padding:.6em .4em">{{ totalShipping|number_format(2, '.', ',') }}</td>
            <td style="background-color:#f1aecf;padding:.6em .4em">
                {%  set totalTax = totalTax + ShippingTax %}
                {{ totalTax|number_format(2, '.', ',') }}
            </td>
            <td style="background-color:#f1aecf;padding:.6em .4em">
                {% set totalPrice = totalPaid + totalShipping + ShippingTax %}
                {{ totalPrice|number_format(2, '.', ',')  }}
            </td>
        </tr>

        </tbody>
    </table>
    <p>
        Orders with multiple Items may be arriving from multiple supplier locations.  The shipping document enclosed has the items highlighted that are being provided by this supplier.
        Your satisfaction is our number one goal.  If you have any questions regarding your order or other products please contact us.
    </p>
{% endblock %}