{% extends "::base.html.twig" %}

{% block body %}
    <p>You have a new sale on PawnAmerica.com<br>
    <table style="width:50%;font-family:Verdana,sans-serif;font-size:11px;color:#374953">
        <tbody>
            <tr>
                <td colspan="1">
                    Customer
                </td>
                <td colspan="3">
                    {{ order.firstname }} {{ order.lastname }}<br />
                    {{ order.email }}
                </td>
            </tr>
            <tr>
                <td colspan="1">Address</td>
                <td colspan="3">
                    {{ invoiceAddress.address1 }}<br />
                    {{ invoiceAddress.address2 }}<br />
                    {{ invoiceAddress.city }}, {{ invoiceAddress.iso_code }} {{ invoiceAddress.postcode }} <br />
                    {{ invoiceAddress.phone }} - {{ invoiceAddress.phone_mobile }}
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <b>Customer Message:</b>
    <p>
        {% for message in messages %}
            {{ message.message }}
        {% endfor %}
    </p>
    <table>
        <tbody>
            <tr>
                <td>Payment Type:</td>
                <td>{{ order.payment }}</td>
            </tr>
        </tbody>
    </table>
    <table style="width:100%;font-family:Verdana,sans-serif;font-size:11px;color:#374953">
        <tbody>
            <tr style="background-color:#b9babe;text-align:center">
                <th style="width:15%;padding:.6em 0">Order #</th>
                <th style="width:10%;padding:.6em 0">Reference</th>
                <th style="width:10%;padding:.6em 0">Date</th>
                <th style="width:20%;padding:.6em 0">Store</th>
                <th style="width:30%;padding:.6em 0">Product</th>
                <th style="width:30%;padding:.6em 0">Shipping</th>
                <th style="width:45%;padding:.6em 0">Item Price</th>
                <th style="width:45%;padding:.6em 0">Shipping Cost</th>
                <th style="width:20%;padding:.6em 0">tax</th>
                <th style="width:20%;padding:.6em 0">Paid</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>
            {% set totalPaid = 0 %}
            {% set totalTax = 0 %}
            {% set totalShipping = 0 %}
            {% set itemPrice = 0 %}
            {% set ShippingTax = 0 %}
            {% for product in products%}
                <tr style="background-color:#ebecee">
                    <td style="padding:0.6em 0.4em;width:15%">{{ order.reference }}</td>
                    <td style="padding:0.6em 0.4em;width:10%">{{ product.product_reference }}</td>
                    <td style="padding:0.6em 0.4em;width:10%">{{ order.date_add|date("m/d/Y") }}</td>
                    <td style="padding:0.6em 0.4em;width:15%">{{ product.supplierName  }}</td>
                    <td style="padding:0.6em 0.4em;width:30%"><strong>{{ product.product_name }}</strong></td>
                    <td style="padding:0.6em 0.4em;width:20%">{{ order.carrierName }}</td>
                    <td style="padding:0.6em 0.4em;width:20%">{{ product.unit_price_tax_excl|number_format(2, '.', ',') }}</td>
                    <td style="padding:0.6em 0.4em;width:45%;float:right"></td>
                    <td style="padding:0.6em 0.4em;width:20%">
                        {{ product.itemTax|number_format(2, '.', ',') }}
                    </td>
                    <td style="padding:0.6em 0.4em;width:20%">
                        {% set itemTotal = product.unit_price_tax_excl + product.itemTax %}
                        {{ itemTotal|number_format(2, '.', ',') }}
                    </td>
                </tr>
                {% set itemPrice = itemPrice + product.unit_price_tax_excl %}
                {% set totalPaid = totalPaid + itemTotal %}
                {% set totalTax = totalTax + product.itemTax %}
                {% set ShippingTax = ShippingTax + product.shippingTax %}
                {% set totalShipping = totalShipping + product.shipping %}
            {% endfor %}
            <tr>
                <td colspan="8"></td>
            </tr>
            <tr style="text-align:right;font-weight:bold">
                <td>&nbsp;</td>
                <td style="background-color:#f1aecf;padding:.6em .4em" colspan="5">Total paid</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">{{ itemPrice|number_format(2, '.', ',') }}</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">{{ totalShipping|number_format(2, '.', ',') }}</td>
                <td style="background-color:#f1aecf;padding:.6em .4em">
                    {%  set totalTax = totalTax + ShippingTax %}
                    {{ totalTax|number_format(2, '.', ',') }}
                </td>
                <td style="background-color:#f1aecf;padding:.6em .4em">
                    {% set totalPrice = totalPaid + totalShipping + ShippingTax %}
                    {{ totalPrice|number_format(2, '.', ',')  }}</td>
            </tr>

        </tbody>
    </table>
    <h3>ORDER FULLFILLMENT PROCESS</h3>
    <ol>
        <li>Use this Link or Login to back office of pawnamerica.com to update your order status.
            https://www.pawnamerica.com/pawn-admin9437
            (only used to update order status)
        </li>
        <li>Use this Link of Login to Ship Station to Print the shipping label associated with this order
            https://ss4.shipstation.com/
            (Only use for printing shipping label)</li>
        <li>Use the Attachment as the Packing Slip for your order.
            <ul>
                <li>Make sure to Include designated marketing materials within the shipment.</li>
            </ul>
        </li>
    </ol>
{% endblock %}