{% extends "::base.html.twig" %}

{% block body %}
    <h1>{{ store.name }} {{ subject }} summary</h1><br>
    <table style="width:100%;font-family:Verdana,sans-serif;font-size:11px;color:#374953">
        <thead>
            <tr style="background-color:#b9babe;text-align:center">
                <th>Ebay Sales</th>
                <th>Website Sales</th>
                <th>Active Ebay Items</th>
                <th>Active Website Items</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color:#ebecee;text-align:center">
                <td>{{ ebaySales }}</td>
                <td>{{ websiteSales }}</td>
                <td>{{ activeEbay }}</td>
                <td>{{ activeWeb }}</td>
            </tr>
        </tbody>
    </table>
    <br />
    <table style="width:100%;font-family:Verdana,sans-serif;font-size:11px;color:#374953">
        <tbody>
            <tr style="background-color:#b9babe;text-align:center">
                <th style="width:15%;padding:.6em 0">Order Reference</th>
                <th style="width:15%;padding:.6em 0">Payment</th>
                <th style="width:15%;padding:.6em 0">Order Status</th>
                <th style="width:15%;padding:.6em 0">Customer Name</th>
                <th style="width:20%;padding:.6em 0">Shipping Total</th>
                <th style="width:20%;padding:.6em 0">Order Total</th>
                <th style="width:30%;padding:.6em 0">Sold Date</th>
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>

            {% for product in products %}
                <tr style="background-color:#ebecee">
                    <td style="padding:0.6em 0.4em;width:15%">{{ product.order_reference }}</td>
                    <td style="padding:0.6em 0.4em;width:15%">{{ product.payment }}</td>
                    <td style="padding:0.6em 0.4em;width:15%">{{ product.status }}</td>
                    <td style="padding:0.6em 0.4em;width:15%">{{ product.customer }}</td>
                    <td style="padding:0.6em 0.4em;width:20%">{{ product.shippingCost|number_format(2, '.', ',')   }}</td>
                    <td style="padding:0.6em 0.4em;width:20%">{{ product.total|number_format(2, '.', ',')  }}</td>
                    <td style="padding:0.6em 0.4em;width:15%">{{ product.soldDate  }}</td>
                </tr>


            {% endfor %}


        </tbody>
    </table>
{% endblock %}