{% extends 'base.html.twig' %}
{% block page_header %}Editing Product: {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Reports </h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <h1>Coming soon!!</h1>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->

        </div>

    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}