{% extends '::login.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey }}</div>
    {% endif %}
    <div class="login-logo">
        <a href="#"><b>Listing Tool</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        {{ form_start(form) }}
        <div class="form-group has-feedback">
            {{ form_row(form._username) }}

        </div>
        <div class="form-group has-feedback">
        {{ form_row(form._password) }}

        </div>
        <!-- /.col -->
            <button style="float: right;" type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button>

        <br /><br /><br />
        <!-- /.col -->
        {{ form_end(form) }}

    </div>
{% endblock %}



