{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Reports </h3>
                    <div class="box-tools pull-right">
                        {{ form_start(form, { 'action': path('product_list'),'attr' : { 'class': 'form-inline pull-right' } }) }}
                        <label class="sr-only" for="inlineFormInput">Store</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            {{ form_widget(form.active) }}
                        </div>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            {{ form_widget(form.store) }}
                        </div>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            {{ form_widget(form.search) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {{ form_end(form) }}

                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    Total:  {{ pagination.getTotalItemCount }}
                    <table class="table table-hover">
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>{{ knp_pagination_sortable(pagination, 'Item Id', 'reference') }}</th>
                            <th{% if pagination.isSorted('name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                            <th>Micros Pull date</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Pa launch', ['store_date']) }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Ready to Sync', ['store_date']) }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Ebay Date', ['ebay_date']) }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'price', ['price']) }}</th>
                            <th></th>
                        </tr>
                        {# table body #}
                        {% for article in pagination %}
                            <tr {% if loop.index is odd %}class="color"{% endif %}>
                                <td>{{ article.reference }}</td>
                                <td>{{ article.name }}</td>
                                <td>{{ article.date_add | date('Y-m-d h:m:s') }}</td>
                                <td>
                                    {{ render(controller(
                                        'AppBundle:Product:GetActivation',
                                        { 'store': store,
                                            'product' : article.id_product}
                                    )) }}
                                </td>
                                <td>
                                    {% if article.store_date %}
                                        {{ article.store_date | date('Y-m-d h:m:s') }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if article.ebay_date %}
                                        {{ article.ebay_date | date('Y-m-d h:m:s') }}
                                    {% endif %}
                                </td>
                                <td>{{ article.price|number_format(2) }}</td>
                                <td><a href="{{ path('product_edit', {"id_product":article.id_product }) }}" class="btn-sm btn-primary">Edit</a> </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->

        </div>

    </div>

{% endblock %}

{% block page_header %}

{% endblock %}

