{% extends 'base.html.twig' %}
{% block page_header %}Searched for: {{ search }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Results</h3>
                    <div class="box-tools pull-right">
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Qty</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.id_product }}</td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.store }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>
                                        {% if product.active == 1 %}
                                            <span class="label label-success">Active</span>
                                        {% else %}
                                            <span class="label label-danger">Disable</span>
                                        {% endif %}
                                    </td>
                                    <td><a href="{{ path('product_edit', {"id_product":product.id_product }) }}" class="btn-sm btn-primary">Edit</a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
